body {
    background-color: #202020;
}

.complete {
    /* background-color: #d3d3d3; */
    /* color: black; */
    display: none;

}
  
.pending {
    background-color: #ff6961;
    color: black;
}
  
.prep {
    background-color: #ffb347;
    color: black;
}

.delivery {
    background-color: #77dd77;
    color: black;
}

.btn {
    border-radius: 0rem;
    margin-bottom: 5px;
}

.btn-warning {
    color:#fff;
}

.btn-warning:hover {
    color: #fff;
}