<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Orders</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="container" style="max-width: 480px;">
    <div id="transactions" class="row">
    </div>
</div>