<!-- Top Navigation -->
<nav class="navbar whitefont">
    <div class='col-6 no-padding'>
        <div id='navbarTitle' ></div>
    </div>

    <!-- Weather App Button -->
    <div class='col no-padding'>
        <div class='row justify-content-end' id="weatherApp">
            <div class='col btn btn-sm whitefont navbarInfo' id="forecastBtn" data-toggle="modal" data-target="#weatherModal"></div>
            <div class='col-12' id='timeStamp'></div>
            <div class='col-12' id='timeStamp-mobile'></div>
        </div>
    </div>

</nav>

<div class='container-fluid'>
    <div class='row'>
        <div class='col-12 col-sm-2 sidebar'>
            <!-- Sidebar Navigation -->
            <div id="sidebar" class="list-group ">
                <div class='row table-responsive-sm'>
                    {{#each tabName}}
                        {{> staff/sidebar}}
                    {{/each}}

                    <table id='sidebar-mobile'>
                        <tr>
                            {{#each tabName}}
                                {{> staff/sidebar-mobile}}
                            {{/each}}
                        </tr>
                    </table>
                            
                </div>
            </div>            
        </div>
        
        {{!-- Content --}}
        <div class='col'>
            {{#each tabName}}
                {{#if logout}}
                {{else}}
                    {{> staff/content}}
                {{/if}}
            {{/each}}
        </div>

    {{#each modal}}
        {{> staff/modal}}
    {{/each}}
    </div>


</div>

<script src="./assets/js/staff-content.js"></script>
<script src="./assets/js/customer-content.js"></script>
<script src="./assets/js/product-content.js"></script>
<script src="./assets/js/weather.js"></script>