<div class="wrapper">
    <div id="formContent">

        <h1>Staff Login</h1>

        <form>
            <input type="text" class="loginusername" id="loginUsername" name="loginUsername" placeholder="username">
            <input type="password" class="loginPassword" id= "loginPassword" name="loginPassword" placeholder="password">
            <input type="submit" class="loginBtn" id="loginBtn" onclick="loginClick(event)" value="Log In">
        </form>            
    </div>
</div>