<div class='row display-row' id='{{id}}-row' style={{#if home}}'display:inline'{{else}}'display:none'{{/if}}>
    <div class='container-fluid'>
        <h2>{{name}}</h2>
        {{> (lookup . 'partial') }}
    </div>
</div>
