<th scope="col">
    <a class="list-group-item list-group-item-action whitefont" id={{id}}  {{#if logout}}data-toggle="modal" data-target="#logoutModal"{{/if}}>
        <i class="fas {{icon}}" id={{id}}></i>
    </a>
</th>
