h2 {
    text-align:center;
}

.col{
    margin-bottom: 25px;
}

.dropdown{
    display: none;
}

body {
    background-color: #151515;
}

.mycol {
    margin-bottom: 15px;
}

img {
    position: relative;
    /* width: 200px;
    height: auto;  */
}

#gotocheckout {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1em;
}

.bgimg {
    background-image: url("./staff-portal/dashboard/assets/img/dashbg.jpg");
    background-size: cover;
}

/* .card-body {
    background-color: #202020;
} */