<div class='row' style='overflow: scroll; height:70vh'>
    <div class='col'>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">WeekDay</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Total Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id='calendar_body'>
            </tbody>

            <tfoot>
                <tr style="font-weight: bold">
                    <td colspan='4'>Total</td>
                    <td colspan='2' id='totalHours'></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>