<div class='row' style='overflow: scroll; height:70vh'>
    <div class='col'>
        <table class="table table-sm table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order</th>
                    <th scope="col">Status</th>
                    <th scope="col">Client</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id='staff_body'>
            </tbody>
        </table>
    </div>
</div>