<div class='row' style='overflow: scroll; height:70vh'>
    <div class='col'  style='margin-bottom:20px'>
        <div class="card">
            <div class="card-body">
                <table class="table table-sm">
                    <h3>Daily Planner</h3>
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:00 AM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>9:00 AM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>10:00 AM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>11:00 AM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>12:00 AM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>1:00 PM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>2:00 PM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>3:00 PM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>4:00 PM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                        <tr>
                            <td>5:00 PM</td>
                            <td><textarea style="width:100%"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class='col col-md-4'>
        <div class="card">
            <div class="card-body">
                <h3>Work Schedule</h3>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">WeekDay</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                        </tr>
                    </thead>
                    <tbody id='calendar_card'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>