<!-- Setting Profile -->
<div class='margin-row' id='profile'>
    <div class='row'>
        <div class='col-12 col-sm-2 col-lg-1'>
            <label>Profile:</label>
        </div>
        <div class='col col-md-6'>
            
            <form class='form-row'>
                <fieldset class='col-12' disabled>
                    <div class="form-group ">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                </fieldset>

                <div class="form-group col-md-6">
                    <label for="profileName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="profileName">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName">
                </div>
                <div class="form-group col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputState" class="form-label">Province</label>
                    <select id="inputState" class="form-control">
                        <option>AB</option>
                        <option>BC</option>
                        <option>MB</option>
                        <option>NB</option>
                        <option>NL</option>
                        <option>NS</option>
                        <option>NT</option>
                        <option>NU</option>
                        <option>ON</option>
                        <option>PE</option>
                        <option>QC</option>
                        <option>SK</option>
                        <option>YT</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip" class="form-label">Postal Code</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="form-group col-12">
                    <label for="setPassword">New Password</label>
                    <input type="password" class="form-control" id="setPassword">
                </div>
                <div class="form-group col-12">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword">
                    <div class="invalid-feedback">
                        Password not matching.
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="showPassword">
                    <label class="form-check-label" for="showPassword">Show Password</label>
                </div>
                <div class="form-group form-check col-12">
                    <button type="button" class="btn btn-color whitefont" id='saveProfile'>Save</button>
                    <button type="button" class="btn btn-danger" id='deleteProfile' data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Setting Theme -->
<div class='margin-row' id='theme'>
    <div class='row'>
        <div class='col-12 col-sm-2 col-lg-1'>
            <label>Theme:</label>
        </div>
        <div class='col'>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="default" id="default" value="option1">
                <label class="form-check-label" for="default">Default</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="ponder" id="ponder" value="option2">
                <label class="form-check-label" for="ponder">Ponder</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sunset" id="sunset" value="option3">
                <label class="form-check-label" for="sunset">Shimmering Sunset</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="calm" id="calm" value="option4">
                <label class="form-check-label" for="calm">Calm It Down</label>
            </div>
        </div>
    </div>
</div>

<!-- Setting Weather -->
<div class='margin-row' id='weather'>
    <div class='row'>
        <div class='col-12 col-sm-2 col-lg-1'>
            <label>Weather:</label>
        </div>
        <div class='col'>
            <div class="btn-group btn-group-toggle" onclick="changeUnit()" data-toggle="buttons">
                <label class="btn btn-secondary" id='metric'>
                    <input type="radio" name="options" id="metric"> &degC
                </label>
                <label class="btn btn-secondary" id='imperial'>
                    <input type="radio" name="options" id="imperial"> &degF
                </label>
            </div>
        </div>
    </div>
</div>
