<span class='btn' data-toggle="modal" data-target="#staffModal" id='addStaff'><i class="fas fa-user-plus"></i> New Staff</span>

<div class='row' style='overflow: scroll; height:70vh'>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id='staff_body'>
        </tbody>
    </table>
</div>