<div class='row' style='margin-bottom:15px'>
    <div class="col">
        <span class='btn btn-outline-secondary' data-toggle="modal" data-target="#staffModal" id='addStaff'><i class="fas fa-user-plus"></i> New Staff</span>
    </div>
</div>

<div class='row' style='overflow: scroll; height:70vh'>
    <div class='col'>
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col" id='staffSun' style='text-align:center'>Sun</th>
                    <th scope="col" id='staffMon' style='text-align:center'>Mon</th>
                    <th scope="col" id='staffTue' style='text-align:center'>Tue</th>
                    <th scope="col" id='staffWed' style='text-align:center'>Wed</th>
                    <th scope="col" id='staffThu' style='text-align:center'>Thu</th>
                    <th scope="col" id='staffFri' style='text-align:center'>Fri</th>
                    <th scope="col" id='staffSat' style='text-align:center'>Sat</th>

                </tr>
            </thead>
            <tbody id='staff_body'>
            </tbody>
        </table>
    </div>
</div>