<div id="productBody" class="row">
	<!-- <div class="col">
          <div data-id="${product.id}"class="card" style="width: 18rem;">
              <img src="img/pizza.png" class="card-img-top" alt="${product.description}" />
              <div class="card-body">
                  <h5 class="card-title">${product.description}</h5>
                  <p class="card-text">
                      ${product.set_price}
                  </p>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend" id="button-addon3">
                          <button class="btn btn-outline-secondary" type="button">Increase</button>
                      </div>
                      <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons" aria-describedby="button-addon3">
                      <div>
                          <button class="btn btn-outline-secondary" type="button">Decrease</button>
                      </div>
                  </div>
              </div>
          </div>
		</div> -->
<button id="gotocheckout" onclick="selectionDone(event)" type="button" class="btn btn-success dropdown">Checkout</button>
</div>