<br>
  <h2>Order Confirmation</h2>
  
<hr class="mb-4">
<div class="container">
    <div class="row">
      <div id='hiddenClientId' style='display:none'></div>
      <div id="clientInfo" class="col col-md-6 offset-md-3"></div>
    </div>

    <div class='row'>
      <div class="col col-md-6 offset-md-3">

        <h4 class="d-flex justify-content-between align-items-center">
          <span class="text-muted">Your cart</span>
        </h4>

        <table class="table table-borderless text-muted">
            <thead>
              <tr>
                <th>Item</th>
                <th style='text-align:center'>Qty</th>
                <th style='text-align:right'>Price</th>
              </tr>
            </thead>

            <tbody id='cartItems'></tbody>
            <tfoot id='cartTotal' style='text-align:right'></tfoot>
        </table>


      </div>
    </div>

</div>
