<div class="jumbotron jumbotron-fluid bgimg" style="color:white;padding-top:30%;">
  <div class="container">
    <h1 class="display-4">Welcome to Dice Pizzeria !</h1>
    <p class="lead">Here you can find the creepiest pizzas 
      <span style="padding-left:15px;"><button type="button" class="btn btn-danger regular" id='selectionBtn'>Order Now</button></span>
    </p>
    
  </div>
</div>

<div class='row'>
  <div class='col d-flex justify-content-center'>
    <button type="button" class="btn btn-danger mobile" id='selectionBtn'>Order Now</button>
  </div>
</div>
