<br><br>
<div class="jumbotron jumbotron-fluid bgimg" style="color:white;padding-top:30%;">
  <div class="container">
    <h1 class="display-4" style="position:absolute;top:40%;">Welcome to Dice Pizzeria !</h1>
    <p class="lead" style="position:absolute;top:50%;left:25%;">  Here you can find the creepiest pizzas <span style="padding-left:15px;"><button onclick="startSelect(event)" type="button" class="btn btn-danger">Order Now</button></span></p>
    
  </div>
</div>